<h1>New Recipe Form</h1>
<%= form_for @recipe do |r| %>
    <%= r.label :title %>
    <%= r.text_field :title %><br />
    <h2>Ingredietns</h2>
    <%= r.fields_for :ingredients do |i| %>
            <%= i.label :name %>
            <%= i.text_field :name %><br />
            <%= i.label :quantity %>
            <%= i.text_field :quantity %><br /><br />
    <% end %>
    <%= r.submit %>
<% end %>